    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;100;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 10px;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.6rem;
    background-color: white;
    color: #333;
    line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2{
    font-weight: large;
    line-height: 1.2;
    font-size: 40;
    
}
p{
    margin: 1rem 0;
}
img{
    width: 100%;
}
.text-center{
    text-align: center;;
}
.main{
    background-color: grey;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    margin: 0;
    color: white;
    font-weight: bolder;
    

    
}
.links{
    display: flex;
    text-align: center;
    padding: 5px;
     
}
.links a{
    padding: 10px;
    color: white;
    
}
.links a:hover{
    background-color: white;
    color: black;
    
}
.kapsama{
    background-image: url("../img/bg-1.jpeg");
    background-size: cover;
}
.main-orta{
   position: absolute;
   text-align: center;
   top: 50%;
   padding-left: 90px;
   width:100%;
   justify-content: center;
   text-decoration: solid;
   font-weight: bolder;
   font-size: large;
   color: black;
   background-color: grey;
    opacity: 0.7;
}
.btn-primary{
    font-size: 20px;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    border-style:hidden;
}
.btn-primary:hover{
    background-color: white;
    color: var(--primary);
}
.oda-bilgi{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: grey;
   
}
.left-imagess{
background: url("../img/4.jpeg");
background-size: cover;
padding: 93px;

width: 75%;
height: 30%;

}

.services{
    padding-top: 30px;
    margin-top: 30px;
    display: flex;
    background-color: white;
   text-align: center;
  
   
    
    
    
}
.right-head{
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
.container{
    position: fixed;
    width: 100%;
}
.flex-items{
    text-align: center;
    margin: 40px;
}
.oda-bilgi-2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: lightblue;
}
.right-imagess{
    background: url("../img/about1.jpeg");
    background-size: cover;
    padding: 93px;
    width: 75%;
    height: 30%;
    
    }
  
    .left-head{
        align-items: center;
    justify-content: center;
    
    padding-top: 150px;
    }
.backimages{
    text-align: center;
    justify-content: center;
    align-items: center;
    
    padding-top: 20px;
}
.lotofimage {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px; 
}
img{
    width: 100%;
    text-decoration: cover;
}
img:hover{
    transform: scale(1.1);
}
.lotofimage{
    
    padding-top: 30px;
    margin-top: 20px;
    display: flex;
    background-color: white;
   text-align: center;
}
.lotofimage div{
    padding: 10px;
    overflow: hidden;
}
.fotomoto {
    display: inline-block;
    width: 25%;/*alta geçirmek için divler 4 bölündü*/
    display: flex;
}
.rooms{
    text-align: center;
}
.rooms-img{
    display: flex;
    width: 97;
    padding: 30px;
    margin-left: 10px;
}
.rooms1-img{
    padding: 30px;
    margin-top: -30px;
}
.room-1-açıklama{
    background-color: darkblue;
    color: white;
}
.rooms2-img{
    margin-top: -30px;
    padding: 30px;
}
.room-2-açıklama{
    background-color: rgba(91, 91, 245, 0.884);
    color: var(--white);
}
.rooms3-img{
    margin-top: -30px;
    padding: 30px;
}
.room-3-açıklama{
    background-color: lightblue;
    color: var(--white);
}
.persons{
    padding: 30px;
    margin: 35px;
    display: flex;
    transform: translate(-5%,-10%);
    width: 100%;
}
.mudur img{
    background-size: cover;
    border-radius: 100px;
    padding: 30px;
    margin-left: 40px;
}
.person-1{
    text-align: center;
}
.lobi img{
    background-size: cover;
    border-radius: 100px;
    padding: 30px;
    margin-left: 40px;
}
.person-2{
    text-align: center;
}
.görevli img{
    background-size: cover;
    border-radius: 100px;
    padding: 30px;
    margin-left: 40px;
   
}
.person-3{
    text-align: center;
}
.bölüm-3{
  
    display: flex;
    justify-content: space-between;
    background-color: rgb(199, 196, 196);
}
.contact-right-form{
    float: right;
    padding: 80px;
}


.contact-left-image{
    float: left;
    height: 426px;
    width:  640px;
}

.social-link{
    display: inline-block;

    width: 100%;
    
    background-color: rgb(128, 117, 117);
}
.social-links ,li{
    display: inline;
    justify-content: center;
    align-content: center;
}
.fot ,a{
   
   text-align: center;
}

.fa-facebook{
    padding-left: 10px;
    width: 10%;
}
.fa-twitter{
    padding-left: 10px;
    width: 10%;
}
.fa-instagram{
    padding-left: 10px;
    width: 10%;
}



    
